# Xcode
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

GoogleService-Info.plist
